body{
  background-color: #2c3e50;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

h1 {
  font-size: 130px;
  margin-bottom: 0;
}

h4 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.greetingTitle{
  display: none;
}

.greetingForm {
  display: none;
  margin: 20px;
}

input {
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(0,0,0,0);
  width: 60%;
  height: 30px;
  margin: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.js-toDoList {
  font-size: 30px;
  font-weight: 300;
  display: none;
}

.toDoText {
  font-weight: 300;
}

.toDoUl, .toDoFinUl {
  margin: 5px 0 20px 0;
  text-align: left;
  font-size: 25px;
  list-style-type: none;
}

.toDoUl .finBtn, .toDoFinUl .backBtn {
  height: 15px;
  border: white solid 1.5px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.toDoFinUl .backBtn {
  background-color: white;
}

.toDoFinUl span {
  text-decoration: line-through;
}

.delBtn {
  background: url('images/trash.png') no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

li button, li span {
  vertical-align: middle;
}

li span {
  margin: 0 10px;
}

.js-weather {
  text-align: right;
  margin: 10px 20px;
}

#temperature {
  font-size: 30px;
}


.showing {
  display: block;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
